.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #AE8C52; /* Color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #fff; /* Color del texto en las opciones */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #a1824d; /* Color dorado más oscuro para sombreado al pasar el ratón */
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }